{% extends 'base.html' %}


{% block bodyblock %}

Name:{{consumer.name}}
Contact Number:{{consumer.phone}}
Address:{{consumer.city}}
Condition:{{consumer.severity}}
<div class="grid">
  {%  for i in requests %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Beds</h5>
          <p class="card-text">Available:5</p>
          <a href="#" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Oxygen Cylinder</h5>
          <p class="card-text">Available:5</p>
          <a href="#" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
    {% if i.completed %}
    <div class="col-sm-6">{{i.completed}}</div>
    {% else %}
    <div class="col-sm-6">Pending</div>
  </div>
  {% endfor %}
</div>
<br>
<div class="box" align="center">
  <p>For requesting more resources <a href="{% url 'consumer:cindex' %}">Login here</a></p>
  <p>For providing more resources <a href="{% url 'provider:pindex' %}">Login here</a></p>
</div>

{% endblock bodyblock %}
