{% extends 'base.html' %}


{% block bodyblock %}

<div class="box2">
    {% if registered %}
    <h1>Thank you for registration</h1>
    {% else %}
    <h2>SignUp</h2>
    <form action="{% url 'signin' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="entry">
          <label>Name</label>
          <input type="text" name="" required="">
        </div>
        <div class="entry">
            <label>Contact Number</label><input type="tel" name="" required=""></div>
        <div class="entry">
            <label>Address</label><input type="text" name="" required=""></div>
        <div class="entry">
            <label>Pincode</label><input type="tel" name="" required=""></div>
        <div class="entry">
            <label>Email ID</label><input type="email" name="" required=""></div>
        <input type="submit" name="" value="SignUp" href="{% url 'login' %}">
    </form>
    {% endif %}
</div>

{% endblock bodyblock %}
