
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Terms & Conditions</title>
  </head>
  <body>
  <div class="container">
    <h1>Terms & Conditions</h1>
    <hr>
    <p>Last Updated: 28.05.2021</p>
    <p>Please read these Terms & Conditions carefully before using the
        <!-- http://... -->
        website operated by
        <!-- Vital_Spark. -->
    </p>
    <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
    <p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>
    <h5>Purchases</h5>
    <p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, your Email Address , Date of Birth, etc.</p>
    <h5>Content</h5>
    <p>Our Service allows you to post, link, share and otherwise make available certain information, text, graphics, videos, or othe material relevant to our website. The Content section is for businesses that allow users to create and share available resources on our platform.</p>
    <h5>Links To Other Web Sites</h5>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by
        <!-- Virtual_Spark. -->
      <!-- Virtual_Spark -->
       has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or service providers.</p>
    <p><em>You further acknowledge and agree that
         <!-- Virtual_Spark -->
          shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</em></p>
    <h5>Changes</h5>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <hr>
    <input type="checkbox" id="" name="cb" value="" required>
    <label for="cb">I have read all the Terms & Conditions.</label><hr>
    <button type="button" class="btn btn-outline-dark" href="#">Submit</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
